<!-- <div class="container__small-card">

  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="{{ photoCover }}"
        alt=""
        srcset=""
      >
    </div>

    <div class="small-card__title">
      <h1><a [routerLink]="['content', Id]" >{{ cardTitle }}</a></h1>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr>
  </div>

</div> -->



 <div class="row mb-2 mt-4">
    <div class="col-md-10 ">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"><a [routerLink]="['content', Id]" >{{ cardTitle }}</a></strong>
          <h3 class="mb-0">Novidades da semana</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto"> Sinta a emoçao de acelerar uma super naked nas ruas !</p>
          <a [routerLink]="['content', Id]" >{{ cardDescription }}</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="{{ photoCover }}" width="300" height="250" alt="" srcset="">
        </div>
      </div>
    </div>
