<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://www.motoplanete.com/kawasaki/zoom-700px/Kawasaki-400-Ninja-2023-700px.webp"
      cardTitle="NOVA Kawasaki 400 Ninja 2023"
      cardDescription="KAWASAKI ANUNCIA SUA NOVA MOTOCICLETA DE 400CC"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Nova Série da linha Z +"
      photoCover="https://cdn.motor1.com/images/mgl/o6nq2/s1/4x3/kawasaki-z650-2021.webp"
      cardDescription="KAWASAKI ANUNCIA SUA NOVA MOTOCICLETA NAKED DE 650CC"
    >
    </app-small-card>

     <app-small-card
      Id="2"
      cardTitle="Nova Série da linha Z +"
      photoCover="https://cdn.motor1.com/images/mgl/o6nq2/s1/4x3/kawasaki-z650-2021.webp"
      cardDescription="KAWASAKI ANUNCIA SUA NOVA MOTOCICLETA NAKED DE 650CC"
    >
    </app-small-card>

     <app-small-card
      Id="2"
      cardTitle="Nova Série da linha Z +"
      photoCover="https://cdn.motor1.com/images/mgl/o6nq2/s1/4x3/kawasaki-z650-2021.webp"
      cardDescription="KAWASAKI ANUNCIA SUA NOVA MOTOCICLETA NAKED DE 650CC"
    >
    </app-small-card>

  </div>
</div>
